@mixin cta($btnColor) {
  background-color: $btnColor;
  padding: 18px 36px;
  color: black;
  border: none;
  text-align: center;
  font-family: DrukTextWideBold, sans-serif;
  font-size: 0.8rem;
  margin-left: 10%;
  text-transform: uppercase;
}


@mixin media($breakpoint) {
  @media screen and (min-width: #{$breakpoint}) {
    @content;
  }
}

.l-text-align--left {
  text-align: left;
}
.l-text-align--center {
  text-align: center;
}
.l-text-align--right {
  text-align: right;
}