%section-headline {
  font-family: DrukTextBold, sans-serif;
  font-size: 1.3rem;
  text-decoration: underline;
  text-decoration-color: $peakYellow;
  display: inline-block;
}

%cta {
  background-color: $peakYellow;
  padding: 18px 36px;
  z-index: 3;
  color: black;
  border: none;
  text-align: center;
  font-family: DrukTextWideBold, sans-serif;
  font-size: 0.8rem;
  text-transform: uppercase;
}

%cta--ghost {
  background: none;
  padding: 18px 36px;
  z-index: 3;
  color: white;
  border: 3px solid $peakYellow;
  text-align: center;
  font-family: DrukTextWideBold, sans-serif;
  font-size: 0.8rem;
  margin-left: 10%;
  text-transform: uppercase;
}

%dot-container {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style-type: none;
  li {
    min-width: 12px;
    min-height: 12px;
    border-radius: 50%;
    border: 2px solid $aNiceGray;
    margin: 0 12px;
    cursor: pointer;
    flex: 0 1 auto;
    &.slick-active {
      border: 2px solid $peakYellow;
    }
    button {
      display: none;
    }
  }
}