@font-face {
  font-family: OpenSansBold;
  src: url(assets/fonts/open_sans/OpenSans-bold.woff);
}
@font-face {
  font-family: OpenSansLight;
  src: url(assets/fonts/open_sans/OpenSans-light.woff);
}
@font-face {
  font-family: OpenSansSemiBold;
  src: url(assets/fonts/open_sans/OpenSans-semibold.woff);
}
@font-face {
  font-family: OpenSans;
  src: url(assets/fonts/open_sans/OpenSans.woff);
}



@font-face {
  font-family: DrukTextBold;
  src: url(assets/fonts/druk_text/DrukText-Bold.otf);
}
@font-face {
  font-family: DrukTextHeavy;
  src: url(assets/fonts/druk_text/DrukText-Heavy.otf);
}
@font-face {
  font-family: DrukTextSuper;
  src: url(assets/fonts/druk_text/DrukText-Super.otf);
}


@font-face {
  font-family: DrukTextWideBold;
  src: url(assets/fonts/druk_text/DrukTextWide-Bold.otf);
}
@font-face {
  font-family: DrukTextWideHeavy;
  src: url(assets/fonts/druk_text/DrukTextWide-Heavy.otf);
}
@font-face {
  font-family: DrukTextWideSuper;
  src: url(assets/fonts/druk_text/DrukTextWide-Super.otf);
}

