.c-capabilities {
  background: #fff;
  width: 100%;
  display: inline-block;
  position: relative;
  z-index: 2;
}

.c-capabilities__headline {
  font-family: DrukTextBold, sans-serif;
  font-size: 1.3rem;
  border-bottom: 1px solid $peakYellow;
  display: inline-block;
  margin: 12% auto 3% 12% !important;
}

.c-capabilities__slide {

}

.c-capabilities__slide-headline {
  text-transform: uppercase;
  font-family: DrukTextWideBold, sans-serif;
  margin-left: 12%;
  margin-bottom: 3%;
  font-size: 1.4rem;
}

.c-capabilities__slide-copy {
  font-family: OpenSansSemiBold, sans-serif;
  font-size: 1rem;
  color: $charcoal;
  width: 50%;
  margin: 0 auto 3% 12%;
  @include media($desktop) {
    width: 25%;
  }
}

.c-read-more {
  color: $peakBlue;
  text-transform: uppercase;
  border-bottom: 2px solid black;
  margin-left: 12%;
  font-family: OpenSansBold, sans-serif;
  letter-spacing: 0.1rem;
  padding-bottom: 4px;
}

.c-capabilities__btn {
  margin-top: 10%;
  margin-bottom: 10%;
  &--back {
    @extend .c-capabilities__btn;
    margin-left: 12%;
  }
  &--next {
    @extend .c-capabilities__btn;
    margin-left: 2%;
  }
}