.c-card-carousel {
}

.c-card-carousel__headline {
  margin-left: 20%;
}
.c-card-carousel__subheadline {
  margin-left: 20%;
  margin-top: 3%;
}

.c-card-carousel__slides {
  width: 100%; 
  margin: 5% auto;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
}

.c-card-carousel__card {
  
}

.c-card-carousel__details {
  @extend %card;
  min-height: 500px !important;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 95%;
  margin: 5% auto;
}

.c-card-carousel__card-headline {
  color: $charcoal;
  font-size: 2rem;
  font-family: DrukTextBold;
  margin-bottom: 5%;
}
.c-card-carousel__card-text {
  color: $aNiceGray;
  font-size: 1.2rem;
  font-family: OpenSans;
  margin-bottom: 5%;
}



.c-card-carousel__dot-container {
  @extend %dot-container;
  margin-top: 5%;
}

.c-card-carousel__card-btn {
  @extend %cta;
  width: 100%;
}