.c-card-carousel {

}

.c-card-carousel__slides {
  width: 80%; 
  margin: 5% auto;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  min-height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
}

.c-card-carousel__card {
  @extend %card;
}

.c-card-carousel__card-headline {
  color: $charcoal;
  font-size: 2rem;
  font-family: DrukTextBold;
  margin-bottom: 5%;
}
.c-card-carousel__card-text {
  color: $aNiceGray;
  font-size: 1.2rem;
  font-family: OpenSans;
  margin-bottom: 5%;
}



.c-card-carousel__dot-container {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style-type: none;
  margin-top: 5%;
  li {
    width: 24px;
    height: 24px;
    border-radius: 50%;
    border: 3px solid $aNiceGray;
    margin: 0 12px;
    &.slick-active {
      border: 3px solid $peakYellow;
    }
    button {
      font-size: 0;
    }
  }
}

.c-card-carousel__card-btn {
  @extend %cta;
  margin-bottom: 10%;
}