.c-footer {
  background: $peakYellow;
}

.c-footer__link-container {
  padding: 10% 0;
}

.c-footer__link {
  display: block;
  text-decoration: underline;
  font-family: OpenSansSemiBold, sans-serif;
  color: white;
  width: 240px;
  margin: 0 auto 0 10%;
  font-size: 1.2rem;
  letter-spacing: 0.2rem;
  line-height: 1.8rem;
}