.c-hero {
  background: url("/assets/construction.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 100vh;
}

.c-hero__logo {

}

.c-hero__headline {
  color: white;
  font-size: 6rem;
  font-family: DrukTextBold, OpenSansBold, sans-serif;
  text-transform: uppercase;
  margin-left: 10%;
  margin-top: 20%;
}

.c-hero__button {
  background-color: $peakYellow;
  padding: 18px 36px;
  color: black;
  border: none;
  text-align: center;
  font-family: DrukTextWideBold, sans-serif;
  font-size: 0.8rem;
  margin-left: 10%;
  text-transform: uppercase;
}