.c-hero {
  position: relative;
  overflow: hidden;
}

.c-hero__carousel {
  width: 100%;
}

.c-hero__slide {
  width: 100%;
  padding-bottom: 60px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.c-hero__logo {
  margin-top: 5%;
  margin-left: 33%;
  width: 100%;
  max-width: 120px;
}

.c-hero__headline {
  color: white;
  font-size: 6rem;
  font-family: DrukTextBold, OpenSansBold, sans-serif;
  text-transform: uppercase;
  margin-left: 10%;
  margin-top: 5%;
  margin-bottom: 5%;
  z-index: 2;
  @include media($desktop) {
    font-size: 8rem;
    margin-bottom: 5%;
  } 
}

.c-hero__button {
  @extend %cta;
  margin-left: 10%;
}