.c-nav {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 4;
  overflow: visible;
  cursor: pointer;
  &.hide {
    display: none;
  }

  &.active {
    .c-nav__link-wrapper {
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background: white;
      transition: 0.1s left;
      @media screen and (min-width: $tablet) {
        left: 0%;
      }
    }
    .c-nav__menu-btn {
      display: none;
    }
    .c-nav__expanded-header {
      display: flex;
      @media screen and (min-width: $tablet) {
      }
    }
    .c-nav__links {
      display: flex;
      @media screen and (min-width: $tablet) {
      }
    }
  }
}

.c-nav__menu-btn {
  font-size: 2rem;
  background: $peakYellow;
  color: black;
  padding: 12px;
  position: relative;
  z-index: 2;
  border: 0;
  cursor: pointer;
  @media screen and (min-width: $tablet) {
    width: 72px;  
  }

  &:after {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 35px;
    right: 0;
    bottom: 0;
    background: $peakYellow;
    width: 100%;
    z-index: 1;
    clip-path: polygon(25% 0%, 100% 0%, 40% 100%, 0% 100%);
    @media screen and (min-width: $tablet) {
      width: 72px;
      left: 50px;
    }
  }
}

.c-nav__close-btn {
  font-size: 2rem;
  background: $peakYellow;
  color: black;
  padding: 12px;
  display: block;
  border: 0;
  cursor: pointer;
  position: relative;
  &:after {
    content: "";
    display: block;
    background: $peakYellow;
    width: 100%;
    z-index: 1;
    position: absolute;
    left: -35px;
    top: 0;
    bottom: 0;
    transform: rotateY(180deg);
    clip-path: polygon(25% 0%, 100% 0%, 40% 100%, 0% 100%);
  }
}

.c-nav__expanded-header {
  display: none;
  justify-content: space-between;
  width: 100%;
  height: 60px;
}

.c-nav__links {
  display: none;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
  margin-top: 12%;
  @media screen and (min-width: $tablet) {
    margin-top: 6%;
  }
}

.c-nav__logo {
  width: 240px;
  display: block;
}

.c-nav__link-wrapper {
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 0;
  bottom: 0;
  left: -100%;
  @media screen and (min-width: $tablet) {
    top: 0;
    bottom: 0;
    left: -100%;
  }
}

.c-nav__link {
  text-transform: uppercase;
  color: black;
  margin-top: 8%;
  margin-left: 10%;
  font-family: DrukTextBold;
  font-size: 3rem;
  position: relative;
  display: inline-block;
  width: 100%;
  padding: 12px 0;
  
  @media screen and (min-width: $tablet) {
    font-size: 2rem;  
    margin-top: 4%;
  }
  &:not(:last-of-type) {
    &:after {
      content: "";
      position: relative;
      display: block;
      background: transparent;
      border-bottom: 3px solid $peakYellow;
      left: -15%;
      width: 100px;
      top: 24px;
      @media screen and (min-width: $tablet) {
        top: 36px;
      }
    }
  }
}