.c-newsletter {
  padding: 10% 0;
}

.c-newsletter__headline {
  text-decoration: underline;
  text-decoration-color: $peakYellow;
  width: 100px;
  margin-left: 20%;
}

.c-newsletter__copy {
  width: 80%;
  margin: 3% auto 3% 20%;
  font-family: OpenSansBold;
  color: $textGray;
}

.c-newsletter__email {
  border: 2px solid black;
  padding: 12px;
  width: 60%;
  margin: 5% auto 5% 20%;
  display: block;
}

.c-newsletter__btn {
  @extend %cta;
  margin-left: 20%;
}