.c-portrait-carousel {
  padding: 32px 0;
}



.c-portrait-carousel__details {
  width: 80%; 
  margin: 5% auto;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  min-height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
}



.c-portrait-carousel__card-headline {
  font-family: DrukTextBold;
  color: white;
  margin-left: 10%;
  margin-bottom: 5%;
  font-size: 1.5rem;
}
.c-portrait-carousel__card-stat {
  font-family: OpenSansLight;
  color: white;
  margin-left: 10%;
  margin-bottom: 2%;
  &:last-of-type {
    margin-bottom: 10%;
  }
}

.c-portrait-carousel__dot-container {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style-type: none;
  li {
    width: 24px;
    height: 24px;
    border-radius: 50%;
    border: 3px solid $aNiceGray;
    margin: 0 12px;
    cursor: pointer;
    &.slick-active {
      border: 3px solid $peakYellow;
    }
    button {
      display: none;
    }
  }
}

.c-portrait-carousel__card-btn {
  @extend %cta--ghost;
  margin-left: 10%;
  margin-bottom: 10%;
}