.c-portrait-carousel {
  padding: 32px 0;
}

.c-portrait-carousel__headline {
  margin-left: 20%;
}
.c-portrait-carousel__subheadline {
  margin-left: 20%;
  margin-top: 3%;
}


.c-portrait-carousel__details {
  width: 95%; 
  margin: 5% auto;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  min-height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
}



.c-portrait-carousel__card-headline {
  font-family: DrukTextBold;
  color: white;
  margin-left: 10%;
  margin-bottom: 5%;
  font-size: 1.5rem;
}
.c-portrait-carousel__card-stat {
  font-family: OpenSansLight;
  color: white;
  margin-left: 10%;
  margin-bottom: 2%;
  &:last-of-type {
    margin-bottom: 10%;
  }
}

.c-portrait-carousel__dot-container {
  @extend %dot-container;
  margin-top: 5%;
}

.c-portrait-carousel__card-btn {
  @extend %cta--ghost;
  margin-left: 10%;
  margin-bottom: 10%;
}