.c-search {
  position: absolute;
  right: 24px;
  top: 24px;
  z-index: 4;
  cursor: pointer;
  

  &.hide {
    display: none;
  }

  &.active {
    .c-search__results {
      display: flex;
      position: fixed;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background: white;
    }

    .c-nav__expanded-header {
      display: flex;
      @media screen and (min-width: $tablet) {
      }
    }

    .c-search__btn {
      display: none;
    }

    .c-nav {
      display: none;
    }
  }
}

.c-search__btn {
  background: none;
  border: 0;
}

.c-search__svg-wrap {
  margin-left: auto;
}

.c-search__svg {
  width: 24px;
  height: 24px;
  path {
    fill: #fff;
  }
}

.c-search__expanded-header {
  @extend .c-nav__expanded-header;
}

.c-search__logo {
  width: 240px;
  display: block;
}

.c-search__close-btn {
  @extend .c-nav__close-btn;
}

.c-search__results {
  display: none;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.c-search__input-wrapper {
  border-bottom: 1px solid black;
  padding: 4px;
  width: 85%;
  margin: 12% auto;
  display: flex;
  @media screen and (min-width: $tablet) {
    margin: 6% auto;
  }
  
}



.c-search__input {
  font-family: OpenSans;
  font-size: 1.2rem;
  width: 75%;
  display: inline-block;
  border: 0;
  @media screen and (min-width: $tablet) {
    font-size: 2rem;
  } 
}

.c-search__input-icon {
  width: 24px;
  height: 24px;
  path {
    fill: black;
  }

  @media screen and (min-width: $tablet) {
    width: 48px;
    height: 48px;
  }
}

.c-search__count {
  margin-left: 6%;
  margin-bottom: 4%;
  color: $aNiceGray;
  font-size: 1.4rem;
  font-family: DrukTextBold;
  @media screen and (min-width: $tablet) {
    font-size: 2rem;
  }
}

.c-search__list {
  margin-left: 6%;
  padding: 0;
  list-style-type: none;
  width: 90%;
  margin: 0 auto;
}

.c-search__list-item {
  @extend .c-arrow-links__link;
  width: 95%;
  margin: 0 auto 0 0;
  @media screen and (min-width: $tablet) {
    margin: 0 auto;
  }

  .c-search__arrow {
    @extend .c-arrow-links__arrow;
    padding: 6px;
    border-radius: 50%;
    border: 2px solid $peakYellow;
    width: 32px;
    height: 32px;
    
    path {
      fill: black;
    }
    
  }
}

.c-search__item-copy {
  @extend .c-arrow-links__label;
}