.c-text-callout {
  background: #fff;
  width: 100%;
  display: inline-block;
  position: relative;
  z-index: 2;
  padding-top: 12px;
  padding-bottom: 32px;
  max-width: 640px;
}

.c-text-callout__headline {
  margin-left: 8%;
  @media screen and (min-width: $tablet) {
    margin-left: 12%;
  }
}

.c-text-callout__wrapper {
  width: 80%;
  margin: 0 auto;
  .c-text-callout__headline {
    margin-left: -4%;
    @media screen and (min-width: $tablet) {
      margin-left: 3%;
    }
  }
}

.c-text-callout__slide {
  width: 80%;
  margin: 0 auto;
}

.c-text-callout__slide-headline {
  margin-left: 12%;
  margin-bottom: 3%;
}

.c-text-callout__slide-copy {
  font-family: OpenSansSemiBold, sans-serif;
  font-size: 1rem;
  color: $charcoal;
  width: 60%;
  margin: 0 auto 5% 12%;
  @include media($desktop) {
    width: 25%;
  }
}

.c-capabilities__btn {
  margin-top: 10%;
  margin-bottom: 10%;
  &--back {
    @extend .c-capabilities__btn;
    margin-left: 12%;
  }
  &--next {
    @extend .c-capabilities__btn;
    margin-left: 2%;
  }
}