.c-vanity-stat {
  background-color: $aNiceGray;
  padding: 10% 0;
}

.c-vanity-stat__headline {
  color: white;
  font-size: 7rem;
  text-align: center;
  font-family: DrukTextBold, sans-serif;
}

.c-vanity-stat__subheadline {
  color: white;
  text-transform: uppercase;
  font-size: 3rem;
  text-align: center;
  font-family: DrukTextBold, sans-serif;
}
