.c-white-paper {
  padding: 48px 0;
}

.c-white-paper__headline {
  margin-left: 20%;
}
.c-white-paper__subheadline {
  margin-left: 20%;
  margin-top: 5%;
  width: 70%;
}
.c-white-paper__desc {
  margin-left: 20%;
  margin-top: 5%;
  width: 65%;
}

.c-white-paper__body-text {
  margin-left: 20%;
  margin-top: 3%;
}